@tailwind base;
@tailwind components;
@tailwind utilities;

.menu_item::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #a8ff35;
  border-radius: 100px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.menu_item:hover::after {
  width: 100%;
}

.line {
  left: 20px;
  height: calc(100vh + 6rem);
  width: 1px;
  animation: lineAnimation 20s infinite linear;
  background-image: url("../src/assets/icons/lines.svg");
  background-repeat: repeat-y;
  width: 1px;
  background-position-y: 0;
}

.spanLetter {
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1024px) {
  .line {
    left: 0;
    height: 100%;
  }

  .spanLetter {
    font-size: 32px;
    font-weight: 700;
  }
}
@keyframes lineAnimation {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100vh;
  }
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a8ff35;
  border-radius: 100px;
}

.scrollSocial::-webkit-scrollbar{
  width: 0px;
  border-radius: 100px;
}

.scrollSocial::-webkit-scrollbar-thumb{
  background-color: transparent;
}
