@tailwind base;
@tailwind components;
@tailwind utilities;


.menu_item::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #a8ff35;
  border-radius: 100px;
  bottom: 0;
  left: 0;
  transition: .3s;
}
.menu_item:hover::after {
  width: 100%;
}

.line {
  left: 20px;
  height: 100vh;
  width: 1px;
  animation: lineAnimation 20s infinite linear;
  background-image: url("../src/assets/icons/lines.svg");
  background-repeat: repeat-y;
  width: 1px;
  background-position-y: 0;
}

@keyframes lineAnimation {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 100vh;
  }
}
